.normal {
  min-height: 21.36364rem;
  padding-top: 7rem;
  padding-bottom: 4rem;
  text-align: center;
  background: #fff url("./images/landing-hero-bg.jpg") top no-repeat;
  background-size: cover;
}
